{%  extends "base.html.twig" %}



{% block content %}

    <div class="row">

            {% for product in products %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <p class="card-text">This is the description of my {{ product }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>

{% endblock %}
